<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<% for album in @albums %>
<%= album.title %> <%= album.artist %><br/>
<% end %>
	
</body>
</html>